extends ../layouts/main-layout.pug

block content
  main.centered
    h1 #{product.title}
    hr
    div
      img(src=product.imageUrl, alt=product.title, style={'width':'200px', 'height':'300px'})
    h2 #{product.price}
    p #{product.description}
    form(action="/cart", method="post")
       input(type="hidden", name="productId" value=product.id)
       button.btn(type="submit") Add To Cart
